<header>
    <div class="logo">
        <h1><a href="/">CSE Motors</a></h1>
    </div>
    
    <!-- Mobile Navigation Toggle -->
    <button id="navToggle" aria-label="Toggle navigation">&#9776;</button>

    <!-- Navigation Menu -->
    <nav id="navMenu">
        <ul>
            <li><a href="/">About us</a></li>
            
        </ul>
    </nav>
</header>
