<header>
  <div class="logo">
    <a href="/">
      <img src="/images/site/logo.png" alt="CSE Motors Logo">
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/account/login">My Account</a></li>
      <li><a href="/account/register">Create Account</a></li>
    </ul>
  </nav>
</header>
