<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', { title: 'Home | CSE Motors' }); %>
</head>
<body>
    <%- include('partials/header.ejs'); %>
    <%- include('partials/nav.ejs'); %>
    <main>
        <h1>Welcome to CSE Motors!</h1>
        <section id="featured-vehicle">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
        </section>
        <section id="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
        <section id="upgrades">
            <h2>Delorean Upgrades</h2>
            <ul>
                <li>Flux Capacitor</li>
                <li>Flame Decals</li>
                <li>Bumper Stickers</li>
                <li>Hub Caps</li>
            </ul>
        </section>
    </main>
    <%- include('partials/footer.ejs'); %>
</body>
</html>