<%- include("../partials/header.ejs") %>

<main class="vehicle-container">
    <h1><%= title %></h1>
    <section class="vehicle-content">
        <%= vehicleHTML %>
    </section>
</main>

<%- include("../partials/footer.ejs") %>
