<%- include('../partials/header.ejs') %>

<h1>Inventory Management</h1>

<!-- Flash Messages -->
<% if (message) { %>
  <p class="flash-message"><%= message %></p>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<%- include('../partials/footer.ejs') %>
