<%- include('../partials/header.ejs') %>

<main>
  <h1><%= title %></h1>
  <p><%= message %></p>

  <p>It seems like something went wrong. Maybe try going <a href="/">home</a>?</p>
  <img src="/images/error.png" alt="Error image" width="300">
</main>

<%- include('../partials/footer.ejs') %>
